<h3><%= facade.student_count %> Students</h3>

<% facade.students.each do |student| %>
  <div class="student">
    <li class="student_name"><%= student.name %></li>
    <li class="student_id"><%= student.id %></li><br/>
  </div>
<% end %>
